@{
    ViewData["Title"] = "Home Page";
}
@model Praktyki.Models.InternModel
@if (@ViewData["Message"] != null)
{
<div class="alert alert-danger space text-center">
    @ViewData["Message"]
</div>
}

<div class="text-center">
    <h1>Rejestracja na praktyki w Billennium</h1>
</div>
<div class="form-wrapper">
    <form asp-action="Register" asp-controller="Home" method="POST">
        <div class="input-group">
            <label>First Name:</label>
            <input id="FirstName" asp-for="FirstName" type="text" class="input">
        </div>

        <div class="input-group">
            <label>Last Name:</label>
            <input id="LastName" asp-for="LastName" type="text" class="input">
        </div>

        <div class="input-group">
            <label>About me:</label>
            <textarea id="About" asp-for="About" class="input" rows="4" cols="50"></textarea>
        </div>

        <div class="input-group">
            <button class="btn btn-success">Send</button>
        </div>
    </form>
</div>